body {
  background-color: #E0E0E0
}
div.input input {
  width: 70%;
  background-color: #F0F0F0;
  font-size: 110%;
}
div#history {
  border: 1px solid #999;
  width: 100%;
  height: 300px;
  overflow: auto;
  resize: both;
  background-color: #F0F0F0;
  font-size: 110%;
}
div#display {
  border: 1px solid #999;
  width: 100%;
  height: 200px;
  overflow: auto;
  resize: both;
  background-color: #F0F0F0;
  font-size: 110%;
}
span.text_user1 {
  color: #000000;
}
span.text_user2 {
  color: #8965a1;
}