<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chat Board</title>
  <link rel="stylesheet" href="index.css" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
  <script src="index.js"></script>
</head>
<body>
  <div id="user1">
    <form onsubmit="sendText('text_user1','display', '#000000');return false;">
      <span>User1: </span>
      <input type="text" name="text_user1" value="">
      <input type="button" value="Send" onclick="sendText('text_user1','display', '#000000')">
    </form>
  </div>
  <div id="user2">
    <form onsubmit="sendText('text_user2','display', '#8965a1');return false;">
      <span style="color: #8965a1;">User2: </span>
      <input type="text" name="text_user2" value="">
      <input type="button" value="Send" onclick="sendText('text_user2','display', '#8965a1')">
    </form>
  </div>
  <div id="display">
  </div>
  <input type="button" value="Save" onclick="saveHistory('display')">
  <input type="button" value="Clear" onclick="clearDiv('display')">
</body>
</html>