<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chat Board</title>
  <link rel="stylesheet" href="index.css" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
  <script src="index.js"></script>
</head>
<body>
  <div id="history">
  </div>
  <input type="button" value="Save" accesskey="s" onclick="saveHistory('display','history')">
  <span>(Alt+S)</span>
  <input type="button" value="Load" onclick="loadHistory('history')">
  <input type="button" value="Clear" onclick="clearDiv('display')">
  <div id="display">
  </div>
  <div class="input">
    <form onsubmit="sendText('text_user1','display');return false;">
      <span class='text_user1'>User1: </span>
      <input type="text" name="text_user1" value="">
      <!--<input type="button" value="Send" onclick="sendText('text_user1','display')"> -->
    </form>
  </div>
  <div class="input">
    <form onsubmit="sendText('text_user2','display');return false;">
      <span class='text_user2'>User2: </span>
      <input type="text" name="text_user2" value="">
      <!-- <input type="button" value="Send" onclick="sendText('text_user2','display')"> -->
    </form>
  </div>
</body>
</html>